body {
  text-align: center;
  background-color: #e99516;
  padding: 10px;
  border: black;
  border-style: block;
}

header {
  text-align: center;
  padding: 10px;
}

main {
  height: 900px;
  text-align: center;
}

h1 {
  height: 38px;
  font-family:'Passero One', cursive;;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
  color: #17002c;
  padding-top: 0px;
  margin: 0;
}

li {
  text-align: center;
  margin: 0 25% 0 25%;
}

.logo {
  width: 300px;
  height: 300px;
  margin-top: 0px;
  object-fit: contain;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.97);
  }
  
  70% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.97);
  }
}

.container {
  width: 400px;
  margin: auto;
  text-align: center;
}

#input {
  width: 219px;
  height: 37px;
  background-color: inherit;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: 'Armata', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  background-color: #6c00d1;
}

::placeholder {
  color: #ffffff;
}

#submit {
  width: 125px;
  height: 30px;
  background-color: #6c00d1;
  margin-top: 30px;
  font-family: 'Passero One', cursive;;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  margin-right: -3px;
}

#responseField {
  min-width: 191px;
  min-height: 120px;
  background-color: #6c00d1;
  margin: auto;
  margin-top: 25px;
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  padding: 20px;
}

#submit:hover {
  color: #ffffff;
  cursor: pointer;
}

#submit:active {
  background-color: #ffffff;
  color: #6c00d1;
  cursor: pointer;
}
